# vi: ft=sh
# shellcheck shell=bash

if ! has zvm_direnv_version || ! zvm_direnv_version 2.0.0; then
  source_url "https://git.lerch.org/lobo/zvm-direnv/raw/tag/2.0.0/direnvrc" "sha256-8Umzxj32hFU6G0a7Wrq0KTNDQ8XEuje2A3s2ljh/hFY="
fi

use zig 0.14.0
