# vi: ft=sh
# shellcheck shell=bash

if ! has zvm_direnv_version || ! zvm_direnv_version 1.0.0; then
  source_url "https://git.lerch.org/lobo/zvm-direnv/raw/tag/1.0.0/direnvrc" "sha256-Gtddvcr6aJsrjKd53uChxA1reQmJgEBpmPUWmMdtDIQ="
fi

use zig 2024.11.0-mach
